
body
{
    font-family: sans-serif;
    background: linear-gradient(to right, #239346 , #be0027)
}
h1,h2,h3,h4,h5,h6
{
    font-family: "sans-serif";
    letter-spacing: 5px;
}

h1, p
{
    text-align: center;
}


h1
{
    font-size: 5em;
}

#box
{
    background: white;
    width: 75%;
    margin:0px auto;
}

#homeImage, #homeImage2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto%;
}

#homeImage2
{
    width: 30%;
}

#menu
{
    width: auto !important;
}

#tableMenu
{
    margin: 0px auto;
    width: 75% !important;
    text-align: center;
    background-color: white;
}