{% extends "orders/layout.html" %}

{% block title %}
Pinocchio’s Pizza & Subs
{% endblock %}

{% block body %}

<div id="box">
    <h1>Pinocchio’s Pizza & Subs</h1>
        <p>
            Pinocchio's was recently named 1st Runner-up in the 'Boston's Best Pizza Poll' conducted by Eater.com and Top College Pizza Shop by Thrillist.com.
        </p>

        <img id="homeImage" src="http://www.pinocchiospizza.net/images/building3.jpg" class="img-fluid" alt="Responsive image">
        <img id="homeImage" src="https://slice.seriouseats.com/images/20110414Pinocchios_rossa.jpg" class="img-fluid" alt="Responsive image">
        <img id="homeImage2" src="https://raster-static.postmates.com/?url=http%3A%2F%2Fcom.postmates.img.prod.s3.amazonaws.com%2F535d66b6-88f8-4379-bb12-a0e679deb7c7%2Forig.jpg&quality=85&w=1024&h=0&mode=auto&format=&v=4" class="img-fluid" alt="Responsive image">
</div>
{% endblock %}
