{% extends "orders/layout.html" %}

{% block title %}
Pinocchio’s Pizza & Subs
{% endblock %}

{% block body %}
<div id="box">
  <h1>Menu</h1>
  <div id="menu">
      <table id="tableMenu" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">&#128722</th>
          </tr>
        </thead>
        <tbody>
          {% for item in Menu %}
            {% if item is not None %}
              <tr>
                  <td>{{ item }}</td>
                  <td>
                    <button type="button" name="addCart" class="btn btn-outline-primary">
                      Add to Cart
                    </button>
                  </td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
  </div>
</div>
{% endblock %}
